body {
  font-family: 'Poppins', sans-serif;
}

/* LinkedIn */
#red {
  display: flex;
  align-items: center;
  padding-left: 50px;
}

.linkedin-btn {
  color: #7980C2;
  text-decoration: none;
  font-size: 20px;
  transition: 0.3s;
}

.linkedin-btn:hover {
  color: #000;
}


.icono-box {
  background: white;
  padding: 10px;
  transition: 0.3s;
  cursor: pointer;
  height: 100%;
  text-align: center;
}

.icono-img {
  width: 250px;
  height: auto;
  margin-bottom: 8px;
}

.icono-box h6 {
  font-size: 14px;
  margin: 0;
}

.icono-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

/* Responsive */
@media (max-width: 768px) {
  #menu-icon .row {
    margin-bottom: 10px;
  }
}

.intro{
  font-size: 20px;
  padding: 100px;
  text-align: center; important!

}


.intro-productos p{
    max-width: 1000px;
    margin: auto;
    font-size: 18px;
    color: #444;
}

.producto-card img{
    border-radius: 5px;
    width: 100%;
}

.producto-texto{
    margin-top: 15px;
}

.producto-texto ul{
    padding-left: 18px;
}

.producto-texto li{
    font-size: 14px;
    margin-bottom: 8px;
    color: #333;
}

.contacto{
    min-height: 700px;
}

.contacto-img{
    max-width: 420px;
}

.formulario-contacto .form-control{
    border-radius: 20px;
    padding: 14px;
    border: 2px solid #d7d7d7;
    box-shadow: none;
}

.formulario-contacto .form-control:focus{
    border-color: #7d7fd1;
    box-shadow: none;
}

.btn-enviar{
    background: #7d7fd1;
    color: white;
    padding: 10px 60px;
    border-radius: 30px;
    font-weight: 600;
}

.btn-enviar:hover{
    background: #696bc2;
    color: white;
}


.footer{
    background: #7d7fd1;
    padding: 30px 0;
}

.footer-menu{
    display: flex;
    gap: 100px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-menu a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

.footer-icons a{
    color: white;
    font-size: 32px;
    margin-left: 50px;
}